# Don't store node modules because that's gross
node_modules
coverage

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.iml

# Sublime Text
*.sublime-*

# OSX
*.DS_Store

# IntelliJ
.idea/
